.wrapper {
    user-select: none;
}
.container {
    margin: 0;
    height: 150vh;
    display: flex;
    overflow: hidden;
    margin-top: 64px;
    color: #fff;
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 0;
    }
}
.content {
    flex-grow: 1;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0 8px;
    width: 100%;
    border-radius: 10px;
}
.resizer {
    width: 5px;
    cursor: ew-resize;
    height: 100%;
}
